@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

.footter {
  font-family:Catamaran;
  color:#00ed4f;
    background-color: #191616; 
    padding: 20px;
     text-align: center;
     padding:1rem;
     position: relative;
     bottom: 0;
     width: 100%;
  }
  
  .footer-content {
    display: flex;
    height: 110px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .about p {
    font-size: 14px;
    line-height: 1;
  }
  
  .contact span {
    display: block;
    margin-bottom: 10px;
  }
  
  .socials a {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom-text {
    text-align: center;
    margin-top: 20px;
  }
  
   